Repository ernieIzde8ski/cc-templates: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest

pyright:
  name: pyright
  description: Python command line wrapper for pyright, a static type checker
  entry: basedpyright
  language: python
  require_serial: true
  additional_dependencies:
  - pytest>=8.3.3
  - cookiecutter>=2.6.0
  minimum_pre_commit_version: 2.9.2

pytest:
  name: pytest
  entry: pytest tests/
  language: python
  pass_filenames: false
  additional_dependencies:
  - pytest>=8.3.3
  - cookiecutter>=2.6.0

feat(.gitignore): add '.*_cache/' line
  .gitignore
Due: pytest

feat(pytemplate): switch from `black` formatter to `ruff`
  templates/pytemplate/{{ cookiecutter.__project_slug }}/.pre-commit-config.yaml
  templates/pytemplate/{{ cookiecutter.__project_slug }}/pyproject.toml
  tests/test_templates.py
Due: pyright, pytest

fix(pytemplate): reintroduce `isort` config to pytemplate
  templates/pytemplate/{{ cookiecutter.__project_slug }}/pyproject.toml
Due: none

feat(pytemplate): reintroduce `black` config
  templates/pytemplate/{{ cookiecutter.__project_slug }}/pyproject.toml
Due: none

feat(pytemplate): move `__version__` (and related info) to `info.py`
  templates/pytemplate/{{ cookiecutter.__project_slug }}/src/{{ cookiecutter.__package_name }}/__init__.py
  templates/pytemplate/{{ cookiecutter.__project_slug }}/src/{{ cookiecutter.__package_name }}/info.py
Due: none

feat(rstemplate): add rstemplate
  .editorconfig
  .pre-commit-config.yaml
  templates/pytemplate/hooks/post_gen_project.sh
  templates/rstemplate/cookiecutter.json
  templates/rstemplate/hooks/post_gen_project.sh
  templates/rstemplate/test_defaults.json
  templates/rstemplate/{{ cookiecutter.__project_slug }}/.editorconfig
  templates/rstemplate/{{ cookiecutter.__project_slug }}/.gitignore
  templates/rstemplate/{{ cookiecutter.__project_slug }}/.pre-commit-config.yaml
  templates/rstemplate/{{ cookiecutter.__project_slug }}/Cargo.toml
  templates/rstemplate/{{ cookiecutter.__project_slug }}/LICENSE
  templates/rstemplate/{{ cookiecutter.__project_slug }}/README.md
  templates/rstemplate/{{ cookiecutter.__project_slug }}/crates/.exist
  tests/test_templates.py
Due: pyright, pytest

feat(pytemplate:requirements-dev.txt): add vim modeline
  templates/pytemplate/{{ cookiecutter.__project_slug }}/requirements-dev.txt
Due: none

fix(pytemplate): pin `typer` version
  templates/pytemplate/{{ cookiecutter.__project_slug }}/.pre-commit-config.yaml
  templates/pytemplate/{{ cookiecutter.__project_slug }}/requirements.txt
Due: none

fix(pytemplate): use `info` module in dynamic versioning
  templates/pytemplate/{{ cookiecutter.__project_slug }}/pyproject.toml
Due: none

feat(pytemplate): revise pre-commit hooks, bump typer
  .pre-commit-config.yaml
  templates/pytemplate/{{ cookiecutter.__project_slug }}/.pre-commit-config.yaml
  templates/pytemplate/{{ cookiecutter.__project_slug }}/requirements.txt
Due: pytest

refactor: a little bit of everything
  .basedpyright/baseline.json
  .pre-commit-config.yaml
  pyproject.toml
  templates/pytemplate/cookiecutter.json
  templates/pytemplate/cookiecutter.yaml
  templates/pytemplate/hooks/pre_prompt.py
  templates/pytemplate/local_extensions.py
  templates/pytemplate/test_defaults.json
  templates/pytemplate/{{ cookiecutter.__project_slug }}/.gitignore
  templates/pytemplate/{{ cookiecutter.__project_slug }}/.pre-commit-config.yaml
  templates/pytemplate/{{ cookiecutter.__project_slug }}/MANIFEST.in
  templates/pytemplate/{{ cookiecutter.__project_slug }}/README.md
  templates/pytemplate/{{ cookiecutter.__project_slug }}/pyproject.toml
  templates/pytemplate/{{ cookiecutter.__project_slug }}/src/{{ cookiecutter.__package_name }}/__main__.py
  templates/pytemplate/{{ cookiecutter.__project_slug }}/src/{{ cookiecutter.package_name }}/__init__.py
  templates/pytemplate/{{ cookiecutter.__project_slug }}/src/{{ cookiecutter.package_name }}/__main__.py
  templates/pytemplate/{{ cookiecutter.__project_slug }}/src/{{ cookiecutter.package_name }}/app.py
  templates/pytemplate/{{ cookiecutter.__project_slug }}/src/{{ cookiecutter.package_name }}/info.py
  templates/pytemplate/{{ cookiecutter.__project_slug }}/src/{{ cookiecutter.package_name }}/py.typed
  typings/cookiecutter/utils.pyi
Due: pytest

local changes
  templates/pytemplate/cookiecutter.yaml
  templates/pytemplate/local_extensions.py
  templates/pytemplate/{{ cookiecutter.__project_slug }}/.editorconfig
  templates/pytemplate/{{ cookiecutter.__project_slug }}/Makefile
  templates/pytemplate/{{ cookiecutter.__project_slug }}/README.md
Due: none

Path conditions:
  pyright: any of: \.py$, but not: ^templates/.*
  pytest: any file but: ^templates/.*
